body {
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
	margin: 0px;
	color: #0C0;
	overflow-x: hidden;
}

center {
	width: 110%;
	background-color: #401;
	box-shadow: inset 0 0 400px 100px #000;
}
.fl {
float:right;
}
.pz {
	position:fixed;
	pointer-events: none;
}
.nv {
	position:fixed;
	bottom:10px;

}
.nvmid {
	position:fixed;
	left:5px;
	border:5px #00f solid;
}