body {
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
	margin: 0px;
	color: #0C0;
	overflow-x: hidden;
}

center {
	width: 110%;
	/*
	background-position: center center;
	background-size: 90% 100%;
	background-repeat: no-repeat;
	background-image: url(0bak/ff.png);
	*/
	
	background-color: #401;
	box-shadow: inset 0 0 400px 100px #000;
	
}

img {
	object-fit: contain;
}

.tFlo {
	width: 224;
	border:1px #fff solid;
	-webkit-transform: matrix(1,0.5,-0.5,1,0,0);
}
FL { float:right;}

.yka {
	display: inline-block;
	vertical-align: text-top;
	border:10px #f0f dotted;
}

.yki {
	width:300px;
	-webkit-filter: url(#longbar)
}

.ykis1 {
	width:211px;
	-webkit-filter: url(#longbar)
}

.ykis2 {
	min-height: 411px;
	margin: -100px -20px;
	image-rendering: pixelated;
}

.ykix {
	min-height:400px;
	margin: -50px;
	image-rendering: pixelated;
}

.ykiQ {
	z-index: -1000;
	width: auto;
	min-height:251px;
	margin: -20px 0px;
	image-rendering: pixelated;
}

.cmdbox {
	position:fixed;
	top:20%;
	left:30%;
	background-color: #000;
	color: #0f0;
	box-shadow: 0 0 50px yellow, 20px 15px 100px red, -20px 15px 100px lime, -20px -15px 100px blue;
}
.pz {
	position:fixed;
	pointer-events: none;
}
.nv {
	position:fixed;
	bottom:10px;

}
.nvmid {
	position:fixed;
	left:5px;
	border:5px #00f solid;
}