body {
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
	overflow-x: hidden;
}

center {
    background-color: #400010;
}
.nv {
	position:fixed;
	bottom:10px;

}
.nvmid {
	width:5%;
	position:fixed;
	top:540px;
	border:5px #0ff solid;
	

}