body {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	background-color: #401;
	image-rendering: pixelated;

}

center {
	width: 110%;
	
}


.tygbox {
	display: inline-block;
	width: 400px;
	height: 200px;
	overflow:auto;

}

.fx2 {
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}


.yk400 {
	min-height:400px;
}

.yki {
	min-width:300px;
	-webkit-filter: url(#longbar)
}

.yka {
	display: inline-block;
	vertical-align: text-top;
	border:30px #ff0 dotted;
}

.extrabox{
	font-size: 300%;
	border:10px #f0f solid;

}

.cmdbox {
	position:fixed;
	top:40%;
	left:70%;
	
}